# requirements.in
langchain-google-genai==2.1.2
langchain==0.3.24
langchain_community==0.3.22
langgraph==0.3.21
langgraph-prebuilt==0.1.7
alpaca-py
async-timeout==4.0.0
fsspec==2024.10.0
python-dotenv
numpy
pandas
scikit-learn
tensorflow-cpu
joblib
requests
beautifulsoup4
pytz
sqlalchemy
psycopg2-binary
streamlit